<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /sosanimal/

  # Verifica se o arquivo ou diretório não existe
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Redireciona todas as solicitações para index.php?p=...
  RewriteRule ^(.*)$ index.php?p=$1 [QSA,L]
</IfModule>